<div class="row filler">
</div>
<div class="row one">
  <div class="large-7 columns intro">
    <div class='wrapper'>
    <h1>Hi. I'm <strong>Parag Dadhaniya</strong></h1>
    <div class="description">
      <p>Full Stack Web Developer<br>
      <%= link_to('@MakerSquare', 'https://twitter.com/makersquare') %> graduate</p>
    </div>
    </div>
    <button class="button1">Learn More</button>
  </div>
  
  <div class="large-5 columns">
    <div class="newpic"></div>
  </div>
</div>

<div class="row two">
  <div class="large-12 columns twotop">
    <h1>Web Developer, <strong>Software Engineer</strong></h1>
    <h3>Multitude of Skills</h3>
  </div>
  <div class="large-12 columns twobottom">
    <div class="container">
      <div class="row boxes">
        <div class="skillbox">
          FrontEnd
          <%= image_tag('HTML5.png') %>
          JavaScript<br>
          HTML/CSS<br>
          jQuery<br>
          AJAX
        </div>
        <div class="skillbox">
          BackEnd
          <%= image_tag('ruby.png') %>
          Ruby<br>
          PostgreSQL<br>
          ActiveRecord<br>
          RSpec
          <br>
        </div>
        <div class="skillbox">
          Other
          <%= image_tag('angularjs.png') %>
          Rails<br>
          Sinatra<br>
          AngularJS<br>
          Foundation
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="button2">See My Work</button>
  </div>
</div>

<div class="row three">

  <div class="project-row">
    <h1>Selected Projects</h1>
  </div>

  <div class="row">
    <div class="small-2 columns text-center">
    <%= link_to('Papalote', 'https://github.com/makersquare/papalote') %>
    </div>
    <div class="small-8 columns projectimage">
      <%= link_to(image_tag('papalote.png'), 'http://code.mks.io') %>
    </div>
    <div class="small-2 columns">
    <%= link_to('Rails', 'https://github.com/makersquare/papalote/tree/master/app/controllers') %><br>
    <%= link_to('AngularJS', 'https://github.com/makersquare/papalote/tree/master/app/assets/javascripts') %>
    </div>
  </div>

  <div class="row">
    <div class="small-2 columns text-center">
      <%= link_to('Tweeter Quiz', 'https://github.com/kixton/twitter-game') %>
    </div>
    <div class="small-8 columns projectimage">
      <%= link_to(image_tag('tweeterquiz.png'), 'https://tweeterquiz.herokuapp.com/') %>
    </div>
    <div class="small-2 columns">
      <%= link_to('Rails', 'https://github.com/kixton/twitter-game/tree/master/app') %><br>
      <%= link_to('AngularJS', 'https://github.com/kixton/twitter-game/tree/master/app/assets/javascripts/ng-app') %>
    </div>
  </div>

  <div class="row">
    <div class="small-2 columns text-center">
      <%= link_to('Cupper', 'https://github.com/pdadhaniya/cupper') %>
    </div>
    <div class="small-8 columns projectimage">
      <%= link_to(image_tag('cupper.png'), 'http://code.mks.io') %>
    </div>
    <div class="small-2 columns">
      <%= link_to('AngularJS', 'https://github.com/pdadhaniya/cupper/tree/master/app') %>
    </div>
  </div>

</div>

<div class="row four">
  <div class="row">
    <div class='text-center contactbox'>
      Contact Parag
    </div>
  </div>
  <div class="small-6 small-centered columns text-center">
    <%= link_to(image_tag('twitter-icon.png'), 'https://twitter.com/paragdaDON', :target => "_blank")%>
    <%= link_to(image_tag('linkedin-icon.png'), 'https://www.linkedin.com/in/paragdadhaniya', :target => "_blank")%>
    <%= link_to(image_tag('github.png'), 'https://github.com/pdadhaniya', :target => "_blank")%>
    <%= link_to(image_tag('wordpress2.png'), 'https://paragdadhaniya.wordpress.com/', :target => "_blank")%>
    <%= mail_to('paragdadhaniya@gmail.com', image_tag('gmail.png'))%>
  </div>
</div>
























