<div class="row filler">
</div>

<div class="about-wrapper">
  <div class="row about">
    <div class="medium-6 large-8 columns">
      <h1>Hi. I'm <strong>Parag Dadhaniya</strong></h1>
      <h3>Full Stack Web Developer<br>
      <%= link_to('@MakerSquare', 'https://twitter.com/makersquare') %> graduate
      </h3>
      <button class="skills">Learn More</button>
    </div>
    <div class="medium-6 large-4 columns">
      <div class="newpic"></div>
    </div>
  </div>
</div>

<div class="skills-wrapper">
  <div class="row skills-section">
    <div class="large-12 columns twotop">
      <h1>Web Developer, <strong>Software Engineer</strong></h1>
      <h3>Multitude of Skills</h3>
    </div>

    <div class="large-4 small-12 columns">
      <h4>FrontEnd</h4>
      <%= image_tag('HTML5.png') %>
      <div class="panel">
        <p>JavaScript<br>
            HTML/CSS<br>
            jQuery<br>
            AJAX</p>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <h4>BackEnd</h4>
      <%= image_tag('ruby.png') %>
      <div class="panel">
        <p>Ruby<br>
            PostgreSQL<br>
            ActiveRecord<br>
            RSpec</p>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <h4>Other</h4>
      <%= image_tag('angularjs.png') %>
      <div class="panel">
        <p>Rails<br>
            Sinatra<br>
            AngularJS<br>
            Foundation</p>
      </div>
    </div>

    <div class="row">
      <button class="projects">See My Work</button>
    </div>

  </div>
</div>

<div class="projects-wrapper">
  <div class="row projects-section">
    <div class="large-12 columns">
      <h1 class="text-center">Selected Projects</h1><br>
    </div>
    <div class="large-12 small-12 columns">
    <ul class="example-orbit" data-orbit>
      <li>
        <h3 class="text-center">Papalote</h3>
        <%= image_tag('papalote.png') %>
        <div style="clear: both:" id="textbox">
          <h5 class="alignleft"><%= link_to('http://code.mks.io', 'http://code.mks.io', :target => "_blank") %></h5>
          <h5 class="alignright"><%= link_to('Source Code', 'https://github.com/makersquare/papalote', :target => "_blank") %></h5>
        </div>
      </li>
      <li class="active">
        <h3 class="text-center">Tweeter Quiz</h3>
        <%= image_tag('tweeterquiz.png') %>
        <div style="clear: both:" id="textbox">
          <h5 class="alignleft"><%= link_to('https://tweeterquiz.herokuapp.com/', 'https://tweeterquiz.herokuapp.com/', :target => "_blank") %></h5>
          <h5 class="alignright"><%= link_to('Source Code', 'https://github.com/kixton/twitter-game/', :target => "_blank") %></h5>
        </div>
      </li>
      <li>
        <h3 class="text-center">Cupper</h3>
        <%= image_tag('cupper.png') %>
        <div style="clear: both:" id="textbox">
          <h5 class="alignleft"><%= link_to('https://amber-torch-2724.firebaseapp.com', 'https://amber-torch-2724.firebaseapp.com', :target => "_blank") %></h5>
          <h5 class="alignright"><%= link_to('Source Code', 'https://github.com/pdadhaniya/cupper', :target => "_blank") %></h5>
        </div>
      </li>
    </ul>
    </div>
  </div>
</div>

<div class="contact-wrapper">
  <div class="row contact-section">
    <div class="large-12 columns">
      <div class='contactbox'>
        <h3>Contact Parag</h3>
      </div>
      <div class="icons">
      <ul class="inline-list">
        <li><%= link_to(image_tag('twitter-icon.png'), 'https://twitter.com/paragdaDON', :target => "_blank")%></li>
        <li><%= link_to(image_tag('linkedin-icon.png'), 'https://www.linkedin.com/in/paragdadhaniya', :target => "_blank")%></li>
        <li><%= link_to(image_tag('github.png'), 'https://github.com/pdadhaniya', :target => "_blank")%></li>
        <li><%= link_to(image_tag('wordpress2.png'), 'https://paragdadhaniya.wordpress.com/', :target => "_blank")%></li>
        <li><%= mail_to('paragdadhaniya@gmail.com', image_tag('gmail.png'))%></li>
      </ul>
      </div>
    </div>
  </div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© 2015 Parag Dadhaniya</p>
      </div>
    </div>
  </div>
</footer>
</div>





















