<!-- <div class="fixedbar"> -->
<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">
    <ul class="header-titles">
      <li class="name about">
        <h1><%= link_to 'About', '/' %><h1>
      </li>
      <li class="name skills">
        <h1><%= link_to 'Skills', '/' %></h1>
      </li>
      <li class="name projects">
        <h1><%= link_to 'Selected Projects', '/' %></h1>
      </li>
      <li class="name contact">
        <h1><%= link_to 'Contact', '/' %></h1>
      </li>
      <li class="name resume">
        <h1><%= link_to 'Resume', 'https://drive.google.com/file/d/0B6Sxgy3fett8TmZCNk1XWGFmRjg/view?usp=sharing', :target => "_blank" %></h1>
      </li>
    </ul>
  </section>
</nav>
<!-- </div> -->