<nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
              
            <!-- <h1><a href="#">Parag Dadhaniya</a></h1> -->
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

        <section class="top-bar-section">
         
          <ul class="right">
            <li class="about-me"><%= link_to 'About', '#' %></li>
            <li class="skills"><%= link_to 'Skills', '#' %></li>
            <li class="projects"><%= link_to 'Selected Projects', '#' %></li>
            <li class="contact-me"><%= link_to 'Contact', '#' %></li>
            <li><%= link_to 'Resume', 'https://drive.google.com/file/d/0B6Sxgy3fett8TmZCNk1XWGFmRjg/view?usp=sharing', :target => "_blank" %></li>
          </ul>
        </section>
      </nav>